<div class="layui-field-box">
<form class="layui-form" id="hisiSearch">
	<div class="layui-form-item mb0">
		<!--搜索  -->
		  <div class="layui-form-item">
			<div class="layui-input-inline">
				<input type="text" class="layui-input field-catalog" name="catalog" value="{:input('get.catalog')}"  lay-verify="required" autocomplete="off" placeholder="请输入货号">
			</div>
			<div class="layui-input-inline">
				<input type="text" class="layui-input field-name" name="name" lay-verify="required" autocomplete="off" placeholder="请输入中文名称">
			</div>

			<div class="layui-input-inline">
				<input type="text" class="layui-input field-ename" name="ename" lay-verify="required" autocomplete="off" placeholder="请输入英文名称">
			</div>
			<div class="layui-input-inline">
				<input type="text" class="layui-input field-cas" name="cas" lay-verify="required" autocomplete="off" placeholder="请输入CAS号">
			</div>
			 <div class="layui-input-inline">
				<input type="text" class="layui-input field-smiles" name="smiles" lay-verify="" autocomplete="off" placeholder="请输入Smiles">
			</div>
			 <div class="layui-input-inline">
				<input type="text" class="layui-input field-mdl" name="mdl" lay-verify="required" autocomplete="off" placeholder="请输入MDL">
			</div>
			 <div class="layui-input-inline">
				<input type="text" class="layui-input field-inchikey" name="inchikey" lay-verify="" autocomplete="off" placeholder="请输入InChIKey">
			</div>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" name="ctime_start" id="material_ctime_start" autocomplete="off" placeholder="添加开始日期">
			</div>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" name="ctime_end" id="material_ctime_end" autocomplete="off" placeholder="添加结束日期">
			</div>
			<button class="layui-btn search_btn" type="submit">搜索</button>
		  </div>
	</div>
</form>
</div>
<table id="dataTable"></table>

{include file="block/layui" /}
{include file="block/layuijs" /}

<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('edit')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal" title="修改">修改</a>
	<a href="{:url('del')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
</script>

<script type="text/html" id="toolbar">
    <div class="layui-btn-group fl">
        <a href="{:url('add')}" class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-add-circle-fine"  title="添加">&nbsp;添加</a>
        <a data-href="{:url('del')}" class="layui-btn layui-btn-primary layui-btn-sm j-page-btns confirm layui-icon layui-icon-close red">&nbsp;删除</a>
		<button id="upload_data_tag" class="layui-btn layui-btn-primary layui-btn-sm" lay-submit><i class="layui-icon" title="批量导入">&#xe62f;</i>批量导入</button>
		<a href="javascript:;" id="btnMaterialExport" class="layui-btn layui-btn-primary layui-btn-sm"  title="批量导出"><i class="layui-icon" title="批量导出">&#xe601;</i>批量导出</a>
    </div>
</script>

<script type="text/javascript">
    layui.use(['table','upload','laydate','jquery'], function() {
        var table = layui.table;
		var upload = layui.upload;
        var $ = layui.jquery;
        layui.laydate.render({elem: '#material_ctime_start', type: 'date'});
        layui.laydate.render({elem: '#material_ctime_end', type: 'date'});
        $(document).on('click', '#btnMaterialExport', function() {
            var q = $('#hisiSearch').serialize();
            window.location.href = '{:url("download")}' + (q ? ('?' + q) : '');
        });
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}' //数据接口
            ,page: true //开启分页
            ,skin: 'row'
            ,even: true
            ,limit: 20
            ,text: {
                none : '暂无相关数据'
            }
            ,toolbar: '#toolbar'
            ,defaultToolbar: ['filter']
            ,cols: [[ //表头
                 {type:'checkbox',fixed:'left'}
				,{title: '操作',fixed:'left', templet: '#buttonTpl', width:150}
				,{field: 'struture',fixed:'left',width:150, title: '结构式', templet:function(d){
                    var str = '';
                    if(d.struture) {
                        str += '<img class="layui-upload-img" src="'+d.struture+'" >';
                    }
                    return str;
                }}
				,{field: 'file_name',width:200, title: '分析图谱', templet:function(d){
                    var str = '';
                    if(d.file_name) {
						str += '<a href="'+d.file+'">"'+d.file_name+'"</a>';
                    }
					str += '<button type="button" onclick="upFile('+d.id+');"  class="layui-btn layui-btn-small"> <i class="layui-icon" title="上传">';
						str += '</i>上传</button>';
                    return str;
                }}
				,{field: 'catalog', title: '货号', width: 100}
                ,{field: 'test_num', title: '送检单号', width: 100}
				,{field: 'name', title: '中文名称', width: 100}
                ,{field: 'ename', title: '英文名称', width: 100}
                ,{field: 'cas', title: 'CAS', width: 100}
				,{field: 'mdl', title: 'MDL', width: 100}
				,{field: 'purity', title: '纯度', width: 100}
				,{field: 'mf', title: '分子式', width: 100}
				,{field: 'mw', title: '分子量', width: 100}
                ,{field: 'nmr_num', title: '核磁编号', width: 100}
				,{field: 'nmr_method', title: '核磁方法', width: 100}
				,{field: 'po_num', title: 'PO', width: 100}
                ,{field: 'results', title: '分析结论', width: 100}
				,{field: 'store_name', title: '是否入库', width: 100}
				,{field: 'last_num', title: '最近一次谱图', width: 100}
                ,{field: 'appearance', title: '外观', width: 100}
				,{field: 'order_amount', title: '订购数量', width: 100}
				,{field: 'optical', title: '旋光', width: 100}
				,{field: 'optical_result', title: '旋光结果', width: 100}
                ,{field: 'ee', title: 'EE%', width: 100}
				,{field: 'ee_result', title: 'EE% 结果', width: 100}
				,{field: 'hplc_result', title: 'HPLC结果', width: 100}
				,{field: 'gc_result', title: 'GC结果', width: 100}
                ,{field: 'ms_result', title: 'MS结果', width: 100}
				,{field: 'accept_name', title: '是否接收', width: 100}
				,{field: 'caigou_name', title: '采购员', width: 100}
				,{field: 'caigou_tel', title: '采购员电话', width: 100}
				,{field: 'gendan_name', title: '跟单员', width: 100}
				,{field: 'gendan_tel', title: '跟单员电话', width: 100}
				,{field: 'dinggou_name', title: '订购人', width: 100}
				,{field: 'dinggou_tel', title: '订购人电话', width: 100}
				,{field: 'supplier', title: '供应商名称', width: 100}
				,{field: 'water_content', title: '含水量', width: 100}
				,{field: 'ph_num', title: 'PH值', width: 100}
				,{field: 'melting_point', title: '熔点', width: 100}
				,{field: 'batch_num', title: '批号', width: 100}
				,{field: 'caigou_super', title: '采购主管', width: 100}
				,{field: 'cangku_super', title: '库房主管', width: 100}
				,{field: 'dinggou_super', title: '订购人主管', width: 100}
				,{field: 'shouhuoren', title: '收货人', width: 100}
				,{field: 'remark', title: '备注', width: 100}
            ]]
        });
		var dao_url = '{:url("uploadFile")}';
		upload.render({
			 elem: '#upload_data_tag'
			 ,url: dao_url 
			 ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
				 layer.open({type: 3});//信息加载,上传loading
			 }
			 ,done: function(res, index, upload){ //上传后的回调
				 layer.closeAll('loading'); //关闭loading
				 if(res.code="0") 
				 {  
					 ShowLayerMessage(res.info,5);
					 window.location.reload();
				 }
				 else
				 {
					 ShowLayerMessage("文件上传失败！",5);
				 }
			 } 
			 ,error: function(index, upload){
				layer.closeAll('loading'); //关闭loading
				ShowLayerMessage("文件上传出错！",5);
			 }
			 ,accept: 'file' //允许上传的文件类型
			 ,exts:'xlsx|docx|csv'	
			 ,size: 20480 //最大允许上传的文件大小，20M
		})
    });
</script>
<div id="file_edit_form_tag" class="guanli container-fluid layui-form layui-form-pane" style="display: none;">
	 <fieldset class="layui-elem-field ">
		<legend>增加谱图</legend>
		<input type="hidden" id="id_tag" name="id" >
	    <div class="layui-form-item">
			<fieldset id="upFileBut_tag" class="layui-elem-field site-demo-button">
				<div class="layui-btn-group">
					<button id="upload_file_tag" type="button" class="layui-btn" lay-filter="upFileBut"><i class="layui-icon" title="批量上传附件">&#xe62f;</i>附件上传</button>
				</div>
				<input type="hidden" class="field-file" name="file" id="file">
				<input type="hidden" class="field-file_name" name="file_name" id="file_name">
				<input type="hidden" class="field-file_size" name="file_size" id="file_size">
			</fieldset>
		   <fieldset class="layui-elem-field">
			  <legend>附件：</legend>
			  <div class="layui-field-box layui-upload-list">
				<table class="layui-table">
				   <thead>
					 <tr>
						<th>文件名</th>
						<th>大小(KB)</th>
						<th>操作</th>
					 </tr>
				   </thead>
				   <colgroup>
					<col>
					<col width="100">
					<col width="200">
				  </colgroup>
				  <tbody id="ask_file_list">
					
				  </tbody>
				</table>
			  </div>
		   </fieldset>
	 </div>
	 </fieldset>
	 <div class="layui-form-item" style="display: none;">
		<div class="layui-input-block">
			<button id="file_edit_save_tag" class="layui-btn" lay-submit lay-filter="fileEditSave">保存</button>
		</div>
	 </div>
</div>
<script>
	function upFile(id){
		$("#id_tag").val(id);
		var jsonText = 
		{
			'id':id
		};
		var ParamData = {"device_type":"0","json_text":JSON.stringify(jsonText)};
		var SysUrlStr = '{:url("fileInfo")}';
		layer.open({type: 3});//信息加载,上传loading
		DataInit(SysUrlStr,ParamData,file_obj_tag_init,Action_lay_ErrotFunction);
	}
	function file_obj_tag_init(curResult_obj)
	{
		var temObj = GetJSONObj(curResult_obj);
		if(temObj.code=="0")
		{ 
			layui_loading_close();
			console.log(temObj);
			var dataObj = temObj.data;
			var file_path  = dataObj.file;
			var file_name = dataObj.file_name;
			var file_size = dataObj.file_size;
			var dataHtmlStr='';
			if(dataObj)
			{ 
				 dataHtmlStr +='<tr>'
						    +'<td>'+file_name+'</td>'
						    +'<td>'+file_size+'k</td>'
					        +'<td>'
					        +'<button class="layui-btn layui-btn-small" lay-submit file_path="'+file_path+'" lay-filter="askFileDown"><i class="layui-icon" title="下载">&#xe601;</i>下载</button>'
					        +'</td>'
					        +'</tr>';
					Cur_Tag =  $("#ask_file_list");
					if(Cur_Tag) 
						Cur_Tag.html(dataHtmlStr);	
				$("#file").val(file_path);
				$("#file_name").val(file_name);
				$("#file_size").val(file_size);
				restult_open_show();
			}
		} 	 
		else 
		{ 
			Return_lay_ErrotFunction(temObj);
		}
	}
	
	function restult_open_show()
	{
		layui.use(['form','layer','laydate','table','upload'], function(){
			var form = layui.form
			  ,layer = layui.layer
			  ,table = layui.table
			  ,laydate = layui.laydate
			   ,upload = layui.upload;
				form.on('submit(askFileDown)', function(data){
					   var file_path = $(this).attr('file_path');
					   location.href=file_path;
					   return false;
				 });
				form.render();
			var upload_url = '{:url("upload")}';
			upload.render({
				 elem: '#upload_file_tag'
				 ,url: upload_url 
				 ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
					 layer.open({type: 3});//信息加载,上传loading
				 }
				 ,done: function(res, index, upload){ //上传后的回调
					 layer.closeAll('loading'); //关闭loading
					 if(res.code="0") 
					 {  
						 var tem_obj = res.data;
						 var file_path = tem_obj.file;
						 var file_name = tem_obj.fileName;
						 var file_size = tem_obj.size;
						 var dataHtmlStr = '';
						 dataHtmlStr +='<tr>'
								+'<td>'+file_name+'</td>'
								+'<td>'+file_size+'k</td>'
								+'<td>'
								+'<button class="layui-btn layui-btn-small" lay-submit file_path="'+file_path+'" lay-filter="askFileDown"><i class="layui-icon" title="下载">&#xe601;</i>下载</button>'
								+'</td>'
								+'</tr>';
						Cur_Tag =  $("#ask_file_list");
						if(Cur_Tag) 
							Cur_Tag.html(dataHtmlStr);	
						$("#file").val(file_path);
						$("#file_name").val(file_name);
						$("#file_size").val(file_size);
					 }
					 else
					 {
						 ShowLayerMessage("文件上传失败！",5);
					 }
				 } 
				 ,error: function(index, upload){
					layer.closeAll('loading'); //关闭loading
					ShowLayerMessage("文件上传失败！",5);
				 }
				 ,accept: 'file' //允许上传的文件类型
				 ,exts:'xls|csv|xlsx|doc|docx|rar|zip'	
				 //,multiple:true //是否允许多文件上传。设置 true即可开启。不支持ie8/9		 
				  //,size: 50 //最大允许上传的文件大小
				  //,……
			})
			var title_str="分析谱图上传";
			pop_edit_form(layer,'file',title_str,750,350);
		    $(".layui-layer-page").css("z-index","198910151");
			$(".layui-layer-shade").css("display","none");
			form.on('submit(fileEditSave)', function(data){
				var jsonData = data.field;
				var json_text = create_json_text(jsonData);
				if(!IsNullOrBlank(json_text))
				{
					layer.open({type: 3});//信息加载,上传loading
					var ParamData = {"device_type":1,"json_text":json_text};
					var SysUrlStr = '{:url("saveData")}';
					DataInit(SysUrlStr,ParamData,ActionBack,Action_lay_ErrotFunction);	
				}
				return false;
			 });
		});
	}
	function create_json_text(jsonData)
	{
		var is_submit = true;
		var file = jsonData.file;
		if(file==''){
			ShowLayerMessage("请选择文件",5);
			is_submit = false;
			return "";
		}
		if(is_submit)
			return JSON.stringify(jsonData);
		else
			return "";
	}
	/**
 * 数据保存成功后的回调函数
 * @param curResult_obj
 */
function ActionBack(curResult_obj)
{
	 var temObj = GetJSONObj(curResult_obj);
	 
     if(temObj.code=="0")
	 {
		layui_pop_close();
		ShowLayerMessage(temObj.info,1);
		$(".layui-laypage-btn")[0].click();
     } 	 
	 else 
	 { 
	     Return_lay_ErrotFunction(temObj);
	 }
}

</script>