<div class="layui-field-box">
<form class="layui-form" id="hisiSearch">
	<div class="layui-form-item mb0">
		<!--搜索  -->
		  <div class="layui-form-item">
			<div class="layui-input-inline">
				<input type="text" class="layui-input field-catalog" name="catalog" value="{:input('get.catalog')}"  lay-verify="required" autocomplete="off" placeholder="请输入货号">
			</div>
			<div class="layui-input-inline">
				<input type="text" class="layui-input field-name" name="name" lay-verify="required" autocomplete="off" placeholder="请输入中文名称">
			</div>

			<div class="layui-input-inline">
				<input type="text" class="layui-input field-ename" name="ename" lay-verify="required" autocomplete="off" placeholder="请输入英文名称">
			</div>
			<div class="layui-input-inline">
				<input type="text" class="layui-input field-cas" name="cas" lay-verify="required" autocomplete="off" placeholder="请输入CAS号">
			</div>
			 <div class="layui-input-inline">
				<input type="text" class="layui-input field-smiles" name="smiles" lay-verify="" autocomplete="off" placeholder="请输入Smiles">
			</div>
			 <div class="layui-input-inline">
				<input type="text" class="layui-input field-mdl" name="mdl" lay-verify="required" autocomplete="off" placeholder="请输入MDL">
			</div>
			 <div class="layui-input-inline">
				<input type="text" class="layui-input field-inchikey" name="inchikey" lay-verify="" autocomplete="off" placeholder="请输入InChIKey">
			</div>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" name="ctime_start" id="product_ctime_start" autocomplete="off" placeholder="添加开始日期">
			</div>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" name="ctime_end" id="product_ctime_end" autocomplete="off" placeholder="添加结束日期">
			</div>
			<button class="layui-btn search_btn" type="submit">搜索</button>
		  </div>
	</div>
</form>
</div>
<table id="dataTable"></table>

{include file="block/layui" /}

<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('edit')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal" title="修改">修改</a>
	<a href="{:url('del')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
</script>

<script type="text/html" id="toolbar">
    <div class="layui-btn-group fl">
        <a href="{:url('add')}" class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-add-circle-fine"  title="添加">&nbsp;添加</a>
        <a data-href="{:url('del')}" class="layui-btn layui-btn-primary layui-btn-sm j-page-btns confirm layui-icon layui-icon-close red">&nbsp;删除</a>
		<button id="upload_data_tag" class="layui-btn layui-btn-primary layui-btn-sm" lay-submit><i class="layui-icon" title="批量导入">&#xe62f;</i>批量导入</button>
		<a href="javascript:;" id="btnProductExport" class="layui-btn layui-btn-primary layui-btn-sm"  title="批量导出"><i class="layui-icon" title="批量导出">&#xe601;</i>批量导出</a>
    </div>
</script>

<script type="text/javascript">
    layui.use(['table','upload','laydate','jquery'], function() {
        var table = layui.table;
		var upload = layui.upload;
        var $ = layui.jquery;
        layui.laydate.render({elem: '#product_ctime_start', type: 'date'});
        layui.laydate.render({elem: '#product_ctime_end', type: 'date'});
        $(document).on('click', '#btnProductExport', function() {
            var q = $('#hisiSearch').serialize();
            window.location.href = '{:url("download")}' + (q ? ('?' + q) : '');
        });
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}' //数据接口
            ,page: true //开启分页
            ,skin: 'row'
            ,even: true
            ,limit: 20
            ,text: {
                none : '暂无相关数据'
            }
            ,toolbar: '#toolbar'
            ,defaultToolbar: ['filter']
            ,cols: [[ //表头
                 {type:'checkbox',fixed:'left'}
				,{title: '操作',fixed:'left', templet: '#buttonTpl', width:150}
				,{field: 'struture',fixed:'left',width:150, title: '结构式', templet:function(d){
                    var str = '';
                    if(d.struture) {
                        str += '<img class="layui-upload-img" src="'+d.struture+'" >';
                    }
                    return str;
                }}
				,{field: 'catalog', title: '货号', width: 100}
                ,{field: 'name', title: '中文名称', width: 100}
                ,{field: 'ename', title: '英文名称', width: 100}
                ,{field: 'cas', title: 'CAS', width: 100}
				,{field: 'mdl', title: 'MDL', width: 100}
				,{field: 'purity', title: '纯度', width: 100}
				,{field: 'mf', title: '分子式', width: 100}
				,{field: 'mw', title: '分子量', width: 100}
                ,{field: 'smiles', title: 'Smiles', width: 100}
				,{field: 'inchi', title: 'InChI', width: 100}
				,{field: 'inchikey', title: 'InChIKey', width: 100}
                ,{field: 'ghs', title: 'GHS', width: 100}
				,{field: 'store', title: '储存条件', width: 100}
				,{field: 'transport', title: '运输条件', width: 100}
                ,{field: 'physical_trait', title: '外观', width: 100}
				,{field: 'packing_rules', title: '分装规则', width: 100}
				,{field: 'package', title: '包装材料', width: 100}
				,{field: 'nmr', title: '核磁', width: 100}
                ,{field: 'nmrsolvent', title: '溶剂', width: 100}
				,{field: 'hplc', title: 'HPLC', width: 100}
				,{field: 'gc', title: 'GC', width: 100}
				,{field: 'ms', title: '质谱', width: 100}
                ,{field: 'optical', title: '旋光检测', width: 100}
				,{field: 'ee', title: 'EE%', width: 100}
				,{field: 'review', title: '复检周期', width: 100}
				,{field: 'remark', title: '备注', width: 100}
            ]]
        });
		var dao_url = '{:url("uploadFile")}';
		upload.render({
			 elem: '#upload_data_tag'
			 ,url: dao_url 
			 ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
				 layer.open({type: 3});//信息加载,上传loading
			 }
			 ,done: function(res, index, upload){ //上传后的回调
				 layer.closeAll('loading'); //关闭loading
				 if(res.code="0") 
				 {  
					 ShowLayerMessage(res.info,5);
					 window.location.reload();
				 }
				 else
				 {
					 ShowLayerMessage("文件上传失败！",5);
				 }
			 } 
			 ,error: function(index, upload){
				layer.closeAll('loading'); //关闭loading
				ShowLayerMessage("文件上传出错！",5);
			 }
			 ,accept: 'file' //允许上传的文件类型
			 ,exts:'xlsx|docx|csv'	
			 ,size: 20480 //最大允许上传的文件大小，20M
		})
    });
	function ShowLayerMessage(msgStr,msgIndex)
	{
		layui.use(['layer'], function(){
			var layer = layui.layer;
			layer.msg(msgStr, {icon: msgIndex});
		});
	}
</script>