<div class="layui-field-box">
<form class="layui-form" id="hisiSearch">
	<div class="layui-form-item mb0">
		  <div class="layui-form-item">
			<div class="layui-input-inline">
				<input type="text" class="layui-input field-catalog" name="catalog" value="{:input('get.catalog')}" autocomplete="off" placeholder="货号">
			</div>
			<div class="layui-input-inline">
				<input type="text" class="layui-input field-name" name="name" autocomplete="off" placeholder="商品名称">
			</div>
			<div class="layui-input-inline">
				<input type="text" class="layui-input field-cas" name="cas" autocomplete="off" placeholder="CAS号">
			</div>
			 <div class="layui-input-inline">
				<input type="text" class="layui-input field-supplier" name="supplier" autocomplete="off" placeholder="供应商名称">
			</div>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" name="ctime_start" id="inquiry_ctime_start" autocomplete="off" placeholder="添加开始日期">
			</div>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" name="ctime_end" id="inquiry_ctime_end" autocomplete="off" placeholder="添加结束日期">
			</div>
			<button class="layui-btn search_btn" type="submit">搜索</button>
		  </div>
	</div>
</form>
</div>
<table id="dataTable"></table>

{include file="block/layui" /}

<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('edit')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal" title="修改">修改</a>
	<a href="{:url('del')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
</script>

<script type="text/html" id="toolbar">
    <div class="layui-btn-group fl">
        <a href="{:url('add')}" class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-add-circle-fine"  title="添加">&nbsp;添加</a>
        <a data-href="{:url('del')}" class="layui-btn layui-btn-primary layui-btn-sm j-page-btns confirm layui-icon layui-icon-close red">&nbsp;删除</a>
    </div>
</script>

<script type="text/javascript">
    layui.use(['table','laydate','jquery'], function() {
        var table = layui.table;
        layui.laydate.render({elem: '#inquiry_ctime_start', type: 'date'});
        layui.laydate.render({elem: '#inquiry_ctime_end', type: 'date'});
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}'
            ,page: true
            ,skin: 'row'
            ,even: true
            ,limit: 20
            ,text: {
                none : '暂无相关数据'
            }
            ,toolbar: '#toolbar'
            ,defaultToolbar: ['filter']
            ,cols: [[
                 {type:'checkbox',fixed:'left'}
				,{title: '操作',fixed:'left', templet: '#buttonTpl', width:150}
				,{field: 'inquiry_no', title: '单号', width: 130}
				,{field: 'catalog', title: '货号', width: 100}
                ,{field: 'cas', title: 'CAS', width: 100}
				,{field: 'product_name', title: '商品名称', width: 140}
				,{field: 'quote_count', title: '报价家数', width: 90}
				,{field: 'supplier_summary', title: '供应商摘要', minWidth: 200}
            ]]
        });
    });
</script>
