<div class="layui-field-box">
<form class="layui-form" id="hisiSearch">
	<div class="layui-form-item mb0">
		<!--搜索  -->
		  <div class="layui-form-item">
			<div class="layui-input-inline">
				<input type="text" class="layui-input field-catalog" name="catalog" value="{:input('get.catalog')}"  lay-verify="required" autocomplete="off" placeholder="请输入货号">
			</div>
			 <div class="layui-input-inline">
				<input type="text" class="layui-input field-supplier" name="supplier" lay-verify="" autocomplete="off" placeholder="请输入供应商名称">
			</div>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" name="ctime_start" id="purchase_ctime_start" autocomplete="off" placeholder="添加开始日期">
			</div>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" name="ctime_end" id="purchase_ctime_end" autocomplete="off" placeholder="添加结束日期">
			</div>
			<button class="layui-btn search_btn" type="submit">搜索</button>
		  </div>
	</div>
</form>
</div>
<table id="dataTable"></table>

{include file="block/layui" /}

<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('edit')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal" title="修改">修改</a>
	<a href="{:url('del')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
</script>

<script type="text/html" id="toolbar">
    <div class="layui-btn-group fl">
        <a href="{:url('add')}" class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-add-circle-fine"  title="添加">&nbsp;添加</a>
        <a data-href="{:url('del')}" class="layui-btn layui-btn-primary layui-btn-sm j-page-btns confirm layui-icon layui-icon-close red">&nbsp;删除</a>
    </div>
</script>

<script type="text/javascript">
    layui.use(['table','laydate','jquery'], function() {
        var table = layui.table;
        layui.laydate.render({elem: '#purchase_ctime_start', type: 'date'});
        layui.laydate.render({elem: '#purchase_ctime_end', type: 'date'});
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}' //数据接口
            ,page: true //开启分页
            ,skin: 'row'
            ,even: true
            ,limit: 20
            ,text: {
                none : '暂无相关数据'
            }
            ,toolbar: '#toolbar'
            ,defaultToolbar: ['filter']
            ,cols: [[ //表头
                 {type:'checkbox',fixed:'left'}
				,{title: '操作',fixed:'left', templet: '#buttonTpl', width:150}
				,{field: 'catalog', title: '货号', width: 100}
                ,{field: 'purchase_no', title: '采购单号', width: 100}
                ,{field: 'inquiry_no', title: '询价单号', width: 100}
                ,{field: 'cas', title: 'CAS', width: 100}
				,{field: 'supplier', title: '供应商名称', width: 100}
				,{field: 'quantity', title: '数量', width: 100}
				,{field: 'unit', title: '单位', width: 100}
				,{field: 'price_excluding_tax', title: '不含税价', width: 100}
				,{field: 'total_price', title: '总价', width: 100}
				,{field: 'invoice_type', title: '发票类型', width: 100, templet: function(d){
						var typeMap = {
							'1': '普通发票',
							'2': '专用发票',
						};
						return typeMap[d.invoice_type] || '未知';
					}},
				,{field: 'tax_rate', title: '税率', width: 100}
				,{field: 'tracking_no', title: '运单号', width: 100}
				,{field: 'tracking_info', title: '运动信息', width: 100}
				,{field: 'need_spectrum', title: '是否提供谱图',width: 100, templet: function(d){
						return d.is_analysis == 1 ? '是' : '否';
					}},
				,{field: 'purchase_date', title: '采购日期', width: 100}
				,{field: 'delivery_date', title: '要求到货日期', width: 100}
				,{field: 'actual_delivery_date', title: '实际到货日期', width: 100}
				,{field: 'remark', title: '备注', width: 100}
            ]]
        });
    });
</script>
